# **Data Types in Python**

- Data types define the kind of value a variable holds and what operations can be performed on it. Python is dynamically typed, so you don‚Äôt need to declare data types explicitly, but understanding them is critical for correctness, performance, and readability.

# Built-in Data Types:

### 1.  **Integer (Whole Number)** 
- Integers are whole  numbers.
- Functions are used: abs(), round(), int()

In [2]:
x = 45 
x

45

In [3]:
# 1. abs() function is used to return the absolute value of a number
num = -10
print("The absolute value of", num, "is", abs(num))

The absolute value of -10 is 10

In [4]:
# 2.  Rounding a float to nearest integer (returns int)
num = 3.4
num = round(num)
print("The rounded value of 3.6 is", num)

The rounded value of 3.6 is 3

In [5]:
# 3. Converting other types to int 
float_num = 3.6
int_num = int(float_num)
print("The integer value of", float_num, "is", int_num)

The integer value of 3.6 is 3

In [6]:
# Arithmetic operations
a = 7
b = 3
print(a + b)   # 10
print(a - b)   # 4
print(a * b)   # 21
print(a // b)  # 2 (integer division)
print(a % b)   # 1 (remainder)

10
4
21
2
1

In [7]:
# range 
for i in range(5):
    print(i)  # prints 0 1 2 3 4

0
1
2
3
4

# üß† Key Notes:
- int() can convert strings, floats, and booleans to integers.
- int is immutable, so operations create new values, not change the original.
In Python, integers automatically expand to big numbers if needed (no overflow like in some other languages).

### **2. Float(Decimal Number)**

In [8]:
float_num = 3.6
float_num

3.6

In [9]:
# Rounding a float to nearest integer (returns int)
float_num = 3.4
print("The rounded value of 3.4 is", round(float_num))

The rounded value of 3.4 is 3

In [10]:
# converting other types to int
float_num = 3.6
int_num = int(float_num)
print("The integer value of", float_num, "is", int_num)

The integer value of 3.6 is 3

In [11]:
# Arithmetic operations
a = 5.5
b = 2.2
print(a + b)   # 7.7
print(a - b)   # 3.3
print(a * b)   # 12.1
print(a // b)  # 2.0 (integer division)
print(a % b)   # 1.1 (remainder)
print(a/b)   # 2.5 (float division)

7.7
3.3
12.100000000000001
2.0
1.0999999999999996
2.5

# Key Notes:

- float() can convert integers and strings (if properly formatted) to floats.
- Floating-point numbers represent decimal values but have limited precision (can cause rounding errors).
- Floats are immutable.
- Division of integers with / always returns a float.

### 3. String

In [12]:
# String formatting using f-strings
name = "Alice"
greeting = "Hello"

# concatenation
message = f"{greeting}, {name}!"
message = greeting + ", " + name + "!" # another way to format strings
print(message)  # Hello, Alice!

Hello, Alice!

In [13]:
# string methods 
print(name.upper())  # ALICE
print(name.lower())  # alice    
print(name.replace("A", "B"))  # Blice

ALICE
alice
Blice

In [14]:
# spliting and joining strings
words = "Hello World".split()  # splits into a list of words
print(words)  # ['Hello', 'World']
# joined = " ".join(words)  # joins the list back into a string
sentence = " ".join(words)
print(sentence)  # Hello World

['Hello', 'World']
Hello World

In [15]:
#  string indexing and slicing 
print(name[0])  # A (first character)
print(name[-1])  # e (last character)
print(name[1:4])  # lic (characters from index 1 to 3)

A
e
lic

### Key Notes:

- Strings are sequences of Unicode characters and are immutable.
- Can be created with single, double, or triple quotes for multi-line.
- Powerful built-in methods exist for manipulation, search, and formatting.
- Supports indexing and slicing like lists.

# LIST

- Lists are ordered, mutable sequences (can change after creation).
- start with [ ] braces
- Support indexing, slicing, appending, removing, sorting, and more.
- Can hold mixed data types (e.g., [1, "text", True]).
- Use list() to convert from tuples, strings, etc.
- List methods: .append(), .pop(), .remove(), .sort(), .reverse()

In [16]:
# list operation and accessing elements
list = [1, 2, 3, 4]
print(list[3])  # 1 (first element)

4

In [17]:
# Adding elements to a list
list.append(5)  # adds 6 to the end of the list
print(list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5]

In [18]:
# Removing elemetent from a list
list.pop()  # removes the first occurrence of 3
print(list)  # [1, 2, 4, 5, 6]

[1, 2, 3, 4]

In [19]:
# modifying elements in a list
list[0] = 10  # changes the first element to 10
print(list)  # [10, 2, 4, 5, 6]

[10, 2, 3, 4]

In [20]:
# sorting a list
list.sort()  # sorts the list in ascending order
print(list)  # [2, 4, 5, 6, 10]

[2, 3, 4, 10]

In [21]:
# iterating through a list
for num in list:
    print(num)  # prints each item in the list

2
3
4
10

### Tuple

- Tuples are ordered and immutable sequences. start with () braces
- Use for data that shouldn‚Äôt change (e.g., coordinates, settings).
- Support indexing and slicing.
- More memory efficient than lists.
- Can unpack directly into variables.

In [22]:
#  Creating a tuple
coordinates = (10, 20)
coordinates

(10, 20)

In [23]:
# Access elements like a list
print(coordinates[0])  # Output: 10
print(coordinates[1])  # Output: 20

10
20

In [24]:
# Cannot modify (immutable)
coordinates[0] = 30  # ‚ùå Error

TypeError: 'tuple' object does not support item assignment

In [25]:
#  Useful for fixed data
person = ("Alice", 30)
person

('Alice', 30)

In [26]:
# unpack tuples
name, age = person
print(name, age)  # Output: Alice 30

Alice 30

### Dictionary

- Dictionaries are unordered (but ordered in Python 3.7+), mutable collections of key-value pairs. start with {} braces
- Keys must be immutable (e.g., strings, numbers, tuples).
- Values can be any type.
- Common methods: .get(), .items(), .keys(), .values(), .pop(), .update()
- Fast lookups and updates; ideal for structured data

In [27]:
# Creating a dictionary
person = {"name": "Alice", "age": 30}
person

{'name': 'Alice', 'age': 30}

In [28]:
# Accessing values
print(person["name"])  # Output: Alice
print(person["age"])   # Output: 30

Alice
30

In [29]:
# Using .get() (safe way to access keys)
print(person.get("city", "Unknown"))  # Output: Unknown

Unknown

In [30]:
# Adding/updating values
person["city"] = "UK"
print(person)

{'name': 'Alice', 'age': 30, 'city': 'UK'}

In [31]:
# Iterating through keys and values
for key, value in person.items():
    print(key, value)

name Alice
age 30
city UK

In [32]:
# Removing a key
person.pop("age")
print(person)

{'name': 'Alice', 'city': 'UK'}

### Set

- start with {} braces
- Sets are unordered, mutable collections of unique elements.
- No duplicate values allowed.
- Commonly used for membership tests, eliminating duplicates, and set math.
- Operations: .add(), .remove(), .union(), .intersection(), .difference()

In [33]:
# Creating a set (removes duplicates automatically)
fruits = {"apple", "banana", "apple"}
print(fruits)  # Output: {'apple', 'banana'}

{'banana', 'apple'}

In [34]:
# Adding elements
fruits.add("orange")
print(fruits)

{'orange', 'banana', 'apple'}

In [35]:
#  Removing elements
fruits.remove("banana")
print(fruits)

{'orange', 'apple'}

In [42]:
#  Set operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))        # {1, 2, 3, 4, 5} # adds all elements from both sets

{1, 2, 3, 4, 5}

In [43]:
print(a.intersection(b)) # {3} # shows common elements in both sets

{3}

In [44]:
print(a.difference(b))   # {1, 2} # elements in a that are not in b

{1, 2}

In [49]:
# an other method to find difference in sets
x = {10, 20, 30, 40}
y = {30, 40, 50, 60}

# Try these:
print(x & y)  # {30, 40} Intersection with '&' operator (elements in both sets)
print(x | y)  # {10, 20, 30, 40, 50, 60} Union with '|' operator (all unique elements)
print(x - y)  # {10, 20} Elements in x that are not in y
print(y - x)  # {50, 60} Elements in y that are not in x
print(x ^ y)  # {10, 20, 50, 60} Symmetric difference

{40, 30}
{40, 10, 50, 20, 60, 30}
{10, 20}
{50, 60}
{10, 50, 20, 60}